<!doctype>
<html lang="en">
  <head>
    <title>Will DiBiagio</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <link rel="shortcut icon" href="/assets/favicon.ico">
  </head>
  <body>
    <div class="theme">
      <header class="header">
        <h1>Will DiBiagio</h1>
      </header>
      <main class="wrapper">
        <article> {{ content }} </article>
    </main>
    <footer class="footer">
      That is all.
    </footer>
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cousine:400,700" rel="stylesheet" type="text/css">
  </body>
</html>
