.theme {
  background: #fdfdfd;
  color: #353735;
  padding-top: 6em;
  flex: 1 1 auto;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  line-height: 1.8em;
  letter-spacing: -0.01em;
  font-family: Cousine, monospace;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
}

::selection {
  background-color: #79d688;
}

body.keydown *:focus,
body:not(.has-js) *:focus {
  outline: 1px solid #79d688;
  outline-offset: 4px;
}

details {
  margin: 1em 0;
}

summary::-webkit-details-marker {
  font-size: 0.8em;
  margin-right: 0.8em;
}

summary {
  cursor: pointer;
}

h2 {
  font-size: 1.2em;
  margin-top: 50px;
}

h2:first-child {
  margin-top: 0;
}

a {
  color: #070c10;
}

mark {
  color: #353735;
  background-color: #efefef;
}

mark > a {
  text-decoration: none;
  padding: 0 0.3em;
}

div,
a,
img,
header,
footer,
main {
  box-sizing: border-box;
}

.header,
.footer,
.wrapper {
  padding: 0 2em;
}

.list {
  opacity: 0.85;
  margin-left: 2.5em;
  margin-top: 0.8em;
  padding-left: 0;
  list-style: none;
}

.list > li {
  padding: 0;
  margin-bottom: 15px;
}

.list > li::before {
  content: '•';
  position: absolute;
  margin-left: -1.5em;
}

.as-text {
  display: inline;
  font-size: inherit;
}

h1 {
  margin: 0;
  font-size: 1.5em;
}
